body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

#version-select{
    display: flex;
    justify-content: space-evenly;
}

.version-select-button{
    flex: 1;
}

.version-select-button.button-selected {
    background-color: black;
    color: white;
}

.version-select-button.button-selected:hover{
    background-color: slategray;
}

#control-group{
    margin: 16px;
}

#outputBody {
    margin: 16px 16px;
    font-size: 16px;
}

#list-addon {
    margin: 16px;
}